body{
    background: rgb(68, 126, 165);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}
select#flista{
    width: 150px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img{
    padding: 15px;
}